html { 
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.contenedor-perfil {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}

.foto-perfil {
  width: auto;
  height: 300px;
  object-fit: cover;
  padding: 5px;
}

.info-perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

*{
    background-color: black;
    color: whitesmoke;
}

#author{
  font-size: 200%;
}

#ci{
  font-family: "Segoe UI";
  font-size: 120%;
}

.interdpt1{
  color: bisque;
  font-family: fantasy;
  font-size: 250%;
  letter-spacing: 1.5px;
}

.interdpt2{
  color: azure;
  font-family: fantasy;
  letter-spacing: 2px;
}

.mov{
  font-style: italic;
}

.a{
  color: lightcyan;
}

.b{
  color: lightblue;
}

.c{
  color: lightgoldenrodyellow;
}

.d{
  color: lightpink;
}